ul {
border : black solid 1px;
border-radius: 15px 50px 30px 5px;
}
li {
list-style : none;
}
header {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
background-color : lighten(blue, 30%);
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
border-radius: 15px 50px 30px 5px;
}
form{
    display: inline;
    float: right;
    margin: auto 0;
}
path {
    fill: blue !important;
    fill-rule: nonzero;
}
body {

    font-family: 'Roboto', sans-serif;
}
